Repository sika-training-examples/2023-06-19--gitlab-ci--steb-by-step: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Frontend, Build Backend

.gitlab-ci.yml:

# .gitlab-ci.yml

Build Frontend:
  script: echo Build Frontend ...
  rules:
    - changes:
        - frontend.txt

Build Backend:
  script: echo Build Backend ...
  rules:
    - changes:
        - backend.txt

Update file frontend.txt
  frontend.txt
Due: Build Frontend

Update file backend.txt
  backend.txt
Due: Build Backend

Update 3 files
  .gitlab-ci.yml
  bar/Dockerfile
  foo/Dockerfile
Due: none

Update 2 files
  backend.txt
  frontend.txt
Due: Build Frontend, Build Backend

Update file Dockerfile
  foo/Dockerfile
Due: none

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update file Dockerfile
  bar/Dockerfile
Due: none

WIP: ....
  foo/Dockerfile
Due: none

add yarm packages
  .gitignore
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: none

Update 2 files
  .gitlab-ci.yml
  test_example.py
Due: none

Update file test_example.py
  test_example.py
Due: none

Update 2 files
  .gitlab-ci.yml
  Dockerfile
Due: none

Update 2 files
  .gitlab-ci.yml
  main.go
Due: none
